html {
    background-color: #FFFAEB;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a, a:visited{
    color:#cf4307;
}
a {
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    border: 1px solid black;
    padding: 1em;
    display: inline-block;
    border-radius: 25px;
    margin-top: 10px;
}

.img-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
a:visited {
    color:#cf4307;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3 {
    font-weight:600;
    margin-top: 0;
}

ul.link {
    list-style-type: square;
}
.header{
    margin: 60px auto 0 auto;
    border: 1px #dbd6c4 solid;
    padding: 15px 0;
}
.body {
    margin: 0;
    padding: 0 300px;
    background-color: #fbf6e5;
    height:75vh;
}

.footer {
    margin: 20px 0;
    padding: 0 20vw;
}